<div class="side">
    <a href="#">
        <img class="side-img" src="{{ side.sideimage_set.first.image }}"/>
        <h2>{{ side.name }}</h2>
        <p>{{ side.description }}</p>
        <p>{{ side.price }}</p>
        <p>{{ side.allergens }}</p>
        <form action="/add_to_cart" class="btn-block">
        {% crf_token %}
        <input type="hidden" name="prod_id" value="{{product_id}}" id="prod_id">
        <button type="submit" class="btn-info shadow px-5 py-2 ms-4">Bæta í körfu</button>
        </form>
    </a>

</div>