{% extends 'base_main.html' %}

{% block content %}
    <div class="shopping-cart">
        {% if added_product %}
            <div class="alert-success">
                {{ added_product.name }} added to cart!
            </div>
        {% endif %}

        {% if cart_items %}
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Vara</th>
                        <th>Fjöldi</th>
                        <th>Verð</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                            <form action="{% url 'update_cart' product_id=item.product.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" required>
                                <button type="submit">Update</button>
                            </form>
                        </td>
                            <td>{{ item.product.price }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total price: {{ total_price }}</p>
            <div class="clear-cart-container">
                <form method="post" action="{% url 'clear_cart' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Tæma körfu</button>
                </form>
                                <a href="{% url 'checkout' %}" class="go-to-checkout">Áfram í borgun</a>
            </div>
        {% else %}
            <div class="alert alert-info">
                Karfan þín er tóm.
            </div>
        {% endif %}
    </div>
{% endblock %}
