{% extends 'base_main.html' %}

{% block content %}
    <div class="shopping-cart">
{% if added_product %}
<div class="alert-success">
    {{ added_product.name }} added to cart!
</div>
{% endif %}

{% if cartitems %}
<table class="cart-table">
    <thead>
        <tr>
            <th>Vara</th>
            <th>Verð</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for item in cartitems %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
                <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">Eyða</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <p>Total price: {{ total_price }}</p>
    <div class="clear-cart-container">
    <form method="post" action="{% url 'clear_cart' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Tæma körfu</button>
    </form>
 </div>
{% else %}
<div class="alert alert-info">
    Karfan þín er tóm.
</div>
{% endif %}
</div>
{% endblock %}
