{% extends 'base_main.html' %}
{% block content %}

    <div id="content-container" >
        <div id="main_page"  >

            <img src="icons/order.png" id="order" />

            <img src="icons/offer_menu.png" id="offer_menu" />
            <img src="icons/sides_menu.png" id="sides_menu" />
            <img src="icons/pizza_menu.png" id="pizza_menu" />

            <div id="banner"  >
                <img src="icons/banner-background.png" id="banner-background" />
                <img src="icons/profile.png" id="profile" />
                <img src="icons/shopping-cart.png" id="shopping-cart" />
                <img src="icons/logo.png" id="logo" />

            </div>

        </div>
    </div>
{% endblock %}