* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "DM Mono";
}
html, body {
    height: 100%;
}
.container {
    min-height: 100%;
}
.main{
    overflow: auto;
    padding-bottom: 65px;
}
body {
	background: linear-gradient(90deg, rgb(229, 162, 255) 0%, rgba(255,255,255,1) 50%, rgb(89, 255, 252) 100%);
}
.banner {
    width: 95%;
    height: 120px;
    margin:auto;
    display: block;
    background-color: #FFD9FB;
    border: 1px solid #FA6BEB;
    border-radius: 10px;
}
.logo_container {
    text-align: center;
}
.logo_container img {
    width: 140px;
    margin-left: 120px;
}
.login-cart-container {
    list-style-position: outside;
    display: block;
    float: right;
    margin: 30px;
}
.login-cart-container a{
    display: block;
    color: black;
}
.login-cart-container a:hover,
.login-cart-container a:active {
    color: hotpink;
}
#profile {
    width: 25px;
}
#cart {
    width: 25px;
}
.nav_bar {
    width: 95%;
    height: 80px;
    margin: 20px auto;
    background-color: #FFD9FB;
    border: 1px solid #FA6BEB;
    border-radius: 10px;
}
.inner_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar li {
    display: inline;
    float: left;

}
.nav_links {
    display: flex;
    justify-content: flex-start;
  }

.nav_bar li a {
    display: block;
    padding: 10px 10px;
    color: black;
}

.nav_bar li a:hover,
.nav_bar li a:active {
    color: hotpink;
}

.search_container {
    display: flex;
    justify-content: flex-end;
    min-width: max-content;
  }
#search_bar {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #FA6BEB;
}
.button {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #FA6BEB;
    margin: 10px
}
#order_by {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #FA6BEB;
    margin: 10px 10px 0px 0px;
}

#profile {
    width: 25px;
}
#cart {
    width: 25px;
}
#offer_icon {
    width: 25px;
    padding-top: 5px;
}
#cocacola {
    width: 30px;
}
#pizza_icon {
    width: 30px;
    padding-top: 4px;
}
#side_icon {
    width: 25px;
}
#sauce_icon {
    width: 25px;
    padding-top: 5px;
}
.footer {
    width: 95%;
    height: 50px;
    margin: auto;
    margin-top:40px;
    display: block;
    clear: both;
    background-color: #FFD9FB;
    border: 1px solid #FA6BEB;
    border-radius: 10px;
}
.footer img {
    float: right;
    padding: 20px;
    width: 25px;
}

.footer-items {
    display: flex;
    font-size: small;
    align-items: center;
}
li {
    display: inline-block;
    padding: 20px;
    margin: auto;
}
.order-container {
    text-align: center;
    padding-top: 70px;
}
.pizzas {
    overflow-x: auto;
    margin-top: 70px;
}
.pizza {
    display: inline-block;
    margin: 20px;
}
p,
h2 {
    color: black;
    width: 350px;
}
.drinks {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10%;
}
.sauce {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10%;
}
.sides {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 15%;
    padding-top: 80px;
}
.form_container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: auto;
}

.form input[type="text"],
.form input[type="password"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #FA6BEB;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FA6BEB;
  color: #fff;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #f802dd;
}

.form label {
  display: block;
  margin-bottom: 10px;
}
span.helptext {
    float: right;
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
}
.button-container {
    margin: auto;
    text-align: center;
}
button {
    cursor: pointer;
}
.button-container a {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #FA6BEB;
    background-color: #FFD9FB;
}
.button-container a:hover {
    background-color: white;
}

.detail {
    background-color: #ffd9fb75;
    max-width: 1200px;
    padding: 50px;
    margin: 50px;
    border: 2px solid #FA6BEB;
    border-radius: 15px;
}
h1, h4 {
    color: #FA6BEB;
    font-weight: bold;
}

.pizza-toppings {
  margin-top: 10px;
}

.allergens {
  margin-top: 10px;
}

.pizza-price {
  margin-top: 10px;
}

.add-to-cart {
  margin-top: 10px;
}

.pizza-description {
  margin-top: auto;
}
