
body {
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
	background: linear-gradient(90deg, rgb(229, 162, 255) 0%, rgba(255,255,255,1) 50%, rgb(89, 255, 252) 100%);
}
#banner {
    top-left: 0px;
    top-right: 0px;
    width: 100%;
    max-width: 1200px;
    height: 120px;
    top: 10px;
    background-color: #FFD9FB;
    border: 1px solid #FA6BEB;
    border-radius: 10px;
}

img { position: absolute;
	display: block;
	margin: 0px;
	border: none;
	padding: 0px;
}

div {
	position: absolute;
}

#content-container {
	display: block;
	position: relative;
	width: 1280px;
	width: 1280px;
	height: 890px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#footer {
	background-color: #FFD9FB;
	position: absolute;
	width: 100%;
	height: 62px;
	left: 19px;
	top: 741px;
	border: 1px solid #FA6BEB;
	border-radius: 10px;
}

#instagram {
	top: 13px;
	left: 1112px;
	cursor: pointer;
}

#facebook {
	top: 13px;
	left: 1169px;
	cursor: pointer;
}

#phone-number {
	top: 15px;
	left: 554px;
	width: 100px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 20px;
	text-align: left;
	color:#000000;
	cursor: pointer;
}


#email {
	top: 18px;
	left: 792px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 20px;
	text-align: left;
	color:#000000;
	cursor: pointer;
}


#opening_hours {
	top: 15px;
	left: 264px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 20px;
	text-align: left;
	color:#000000;
	cursor: pointer;
}


#locations {
	top: 15px;
	left: 31px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 20px;
	text-align: left;
	color:#000000;
	cursor: pointer;
}

#searchbar {
	top: 380px;
	left: 682px;
}

#spicy {
	top: 0px;
	left: 178px;
	cursor: pointer;
}


#vegan {
	top: 0px;
	left: 386px;
	cursor: pointer;
}


#pizza {
	top: -19px;
	left: -10px;
	cursor: pointer;
}


#pizza_one {
	top: 479px;
	left: 57px;
	cursor: pointer;
}

#pizza-menu-background {
	top: 0px;
	left: 0px;
}


#hawaiian {
	top: 0px;
	left: 2px;
	width: 369px;
	height: 159px;
}

#size {
	top: 265px;
	left: 16px;
}



#small-price {
	top: 17px;
	left: 3px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#F96BEB;
}


#small-title {
	top: 0px;
	left: 0px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#000000;
}

#medium {
	top: 0px;
	left: 67px;
}

#medium-price {
	top: 17px;
	left: 17px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#F96BEB;
}


#medium-title {
	top: 0px;
	left: 0px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#000000;
}

#large {
	top: 0px;
	left: 160px;
}

#large-price {
	top: 17px;
	left: 0px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#F96BEB;
}


#large-title {
	top: 0px;
	left: 0px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 15px;
	text-align: left;
	color:#000000;
}

#toppings {
	top: 203px;
	left: 16px;
}

#pizza-one-toppings {
	top: 0px;
	left: 0px;
	width: 263px;
	height: 41px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 10px;
	text-align: left;
	color:#000000;
}

#name {
	top: 177px;
	left: 16px;
	width: 96px;
	height: 25.46px;
}

#hawaiian-1 {
	top: 0px;
	left: 0px;
	width: 121px;
	height: 39.46px;
	overflow: hidden;
	font-family: DM Mono;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#pizza-header {
	top: 264px;
	left: 79px;
}

#profile {
	top: 79px;
	left: 1050px;
	cursor: pointer;
}


#shopping-cart {
	top: 85px;
	left: 984px;
	cursor: pointer;
}


#logo {
	top: 0px;
	left: 493px;
	cursor: pointer;
}


#sides-banner {
	top: 30px;
	left: 33px;
	cursor: pointer;
}


#offers-banner {
	top: 120px;
	left: 33px;
	cursor: pointer;
}
