* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {

	background: linear-gradient(90deg, rgb(229, 162, 255) 0%, rgba(255,255,255,1) 50%, rgb(89, 255, 252) 100%);
}
.banner {
    width: 95%;
    height: 100px;
    margin:auto;
    display: block;
    background-color: #FFD9FB;
    border: 1px solid #FA6BEB;
    border-radius: 10px;
}
.innner-banner {
    width: 100px;
    height: 100%;
    margin: 0 auto;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_container img {
    width: 140px;
}

.header_links {
    list-style-position: outside;
    display: block;
    float: left;
    margin: 20px;
}

.header_links a{
    display: block;
}

#sides-banner {
    width: 60%;
}
#offers-banner {
    width: 60%;
}

#footer {
	background-color: #FFD9FB;
	position: absolute;
	width: 100%;
	height: 62px;
	left: 19px;
	top: 741px;
	border: 1px solid #FA6BEB;
	border-radius: 10px;
}