{% extends 'base_main.html' %}
{% load static %}

{% block content %}
    <div class="button-container">

    <a href="{% url 'pizza_type' type_id=2 %}">STERKAR
        <img src="{% static 'images/spicy_icon.png' %}" class="spicy-icon">
    </a>
    <a href="{% url 'pizza_type' type_id=3 %}">VEGAN
        <img src="{% static 'images/vegan_icon.png'%}" class="vegan-icon">
    </a>
    </div>
    <div class="pizzas">
        {% for pizza in pizzas %}
            {% include 'pizza/single_pizza.html' with pizza=pizza %}
        {% endfor %}
    </div>
{% endblock %}