
{% extends 'base_main.html' %}

{% block content %}
    {% for pizza_image in pizza.pizzaimage_set.all %}
        <img src="{{ pizza_image.image }}" class="pizza-img">
    {% endfor %}
    <h1>{{ pizza.name }}</h1>
    <p>{{ pizza.toppings }}</p>
    <p>{{ pizza.descriptions }}</p>
    <p>{{ pizza.allergens }}</p>
    <p>{{ pizza.price }}</p>

    <form action="/add_to_cart" class="btn-block">
    {% crf_token %}
    <input type="hidden" name="prod_id" value="{{product_id}}" id="prod_id">
    <button type="submit" class="btn-info shadow px-5 py-2 ms-4">Bæta í körfu</button>
    </form>

{% endblock %}