{% extends 'base_pizza.html' %}
{% block content %}

		<div id="content-container" >
			<div id="pizza_menu"  >


				<div id="searchbar"  >
					<img src="icons/spicy.png" id="spicy" />
					<img src="icons/vegan.png" id="vegan" />
					<img src="icons/pizza.png" id="pizza" />

				</div>

				<div id="pizza_one"  >
					<img src="icons/pizza-menu-background.png" id="pizza-menu-background" />
					<img src="pizzas/hawaiian.png" id="hawaiian" />

					<div id="size"  >

						<div id="small"  >
							<div id="small-price" >
								1990
							</div>
							<div id="small-title" >
								Lítil
							</div>

						</div>

						<div id="medium"  >
							<div id="medium-price" >
								2990
							</div>
							<div id="medium-title" >
								Miðstærð
							</div>

						</div>

						<div id="large"  >
							<div id="large-price" >
								3990
							</div>
							<div id="large-title" >
								Stór
							</div>

						</div>

					</div>

					<div id="toppings"  >
						<div id="pizza-one-toppings" >
							ananas, skinka, ostur og pizzasósa
						</div>

					</div>

					<div id="name"  >
						<div id="hawaiian-1" >
							Hawaiian
						</div>

					</div>
				</div>



			</div>
		</div>
{% endblock %}