{% extends 'base_main.html' %}

{% block content %}
  <div class="detail">
    {% for offer_image in offer.offerimage_set.all %}
        <img src="{{ offer_image.image }}" class="offer-img">
    {% endfor %}
    <h1>{{ offer.product.name }}</h1>
    <div class="description">
        {{ offer.description }}
    </div>
    <div class="price">
        <h4>VERÐ</h4>
        {{ offer.product.price }}
    </div>
    <a id="add-cart-button" href="{% url 'add_to_cart' product_id=offer.product_id %}">Bæta í körfu</a>
  </div>

{% endblock %}