{% extends 'base_main.html' %}

{% block content %}
  <div class="detail">
    {% for offer_image in offer.offerimage_set.all %}
        <img src="{{ offer_image.image }}" class="offer-img">
    {% endfor %}
    <h1>{{ offer.product.name }}</h1>
    <div class="description">
        {{ offer.description }}
    </div>
    <div class="price">
        <h4>VERÐ</h4>
        {{ offer.product.price }}
    </div>

    <button class="add-to-cart" id="add-btn ">Bæta í körfu</button>
  </div>

{% endblock %}