{% extends 'base_offer.html.html' %}
{% block content %}

    <div id="content-container" >
        <div id="offers_menu"  >
				
            <div id="banner"  >
                <img src="icons/banner-background.png" id="banner-background" />
                <img src="icons/profile.png" id="profile" />
                <img src="icons/shopping-cart.png" id="shopping-cart" />
                <img src="icons/logo.png" id="logo" />
            </div>
				
				<div id="offer_one"  >
					<img src="pizzas/lunch_offer1.png" id="lunch_offer1" />
					<img src="icons/white-background-offer.png" id="white-background-offer" />
					<img src="drinks/small-coke.png" id="small-coke" />
					<div id="description" >
						Miðlungs pizza af matseðli og gosdrykkur að eigin vali					</div>
                        <div id="name" >
							Hádegistilboð
                        </div>
					</div>
					
					<div id="offer_two"  >
						<img src="pizzas/lunch_offer1.png" id="lunch_offer1" />
						<img src="icons/white-background-offer.png" id="white-background-offer" />
						<img src="drinks/small-coke.png" id="small-coke" />
						<div id="description" >
							Þú velur eina pizzu af matseðli, brauðstangir og gos og færð aðra pizzu að sömu stærð að auki 					</div>
							<div id="name" >
								Tvennutilboð
							</div>

						</div>
						<img src="icons/pizza-banner.png" id="pizza-banner" />
						<img src="icons/sides-banner.png" id="sides-banner" />
						<img src="icons/offer-header.png" id="offer-header" />
						
					</div>
        </div>
    </div>
{% endblock %}