{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base-pizza</title>
    <link rel="stylesheet" href="{% static 'css/pizza_menu.css' %}" />
</head>
<body>
    <div class="banner" >
        <div class="inner-banner">
            <div class="header_links">
                <a href="{% url 'sides-index' %}">
                    <img src="{% static 'images/sides-banner.png'%}" id="sides-banner" />
                </a>
                <a href="{% url 'offers-index' %}">
                    <img src="{% static 'images/offers.png'%}" id="offers-banner" />
                </a>
            </div>
            <div class="logo_container">
                <img src="{% static 'images/logo.png'%}" id="logo" />
            </div>
            <div class="login-cart-container">
                <a href="{% url 'profile-index' %}"><img src="{% static 'images/profile.png'%}" id="profile" />
                </a>
                <a href="{% url 'cart-index' %}"><img src="{% static 'images/shopping-cart.png.png'%}" id="profile" />
                </a>
            </div>
        </div>

        <img src="{% static 'images/profile.png'%}" id="profile" />
        <img src="{% static 'images/shopping-cart.png'%}" id="shopping-cart" />

    {%  block content %}
    {% endblock %}

    <div id="footer"  >
            <img src="icons/footer-background.png" id="footer-background" />
            <img src="icons/instagram.png" id="instagram" />
            <img src="icons/facebook.png" id="facebook" />
            <div id="phone-number" >
                555-5555
            </div>
            <div id="email" >
                <a href="mailto:pizzalair@hotstuff.com" target="_blank">pizzalair@hotstuff.com</a>
            </div>
            <div id="opening_hours" >
                Opnunartímar
            </div>
            <div id="locations" >
                Staðir
            </div>
    </div>
</body>
</html>