{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base-pizza</title>
    <link rel="stylesheet" href="{% static 'css/pizza_menu.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div clas="main">
            <div class="banner" >
                <div class="inner-banner">
                    <div class="header_links">
                        <a href="{% url 'sides-index' %}">
                            <img src="{% static 'images/sides-banner.png'%}" id="sides-banner" />
                        </a>
                        <a href="{% url 'offers-index' %}">
                            <img src="{% static 'images/offers.png'%}" id="offers-banner" />
                        </a>
                    </div>
                    <div class="login-cart-container">
                        <a><img src="{% static 'images/profile.png'%}" id="profile" />
                        </a>
                        <a><img src="{% static 'images/shopping-cart.png'%}" id="cart" />
                        </a>
                    </div>
                    <div class="logo_container">
                        <a href="{% url 'main_page-index' %}">
                            <img src="{% static 'images/logo.png'%}" id="logo" />
                        </a>
                    </div>
                </div>
                <div class="pizza-header">
                    <div class="pizza-img-container">
                        <img src="{% static 'images/pizza-banner.png'%}" id="pizza-header" />
                    </div>
                </div>
            </div>
        {%  block content %}
        {% endblock %}
        </div>
    </div>
        <div class="footer">
        <img src="{% static 'images/instagram.png'%}" id="instagram" />
        <img src="{% static 'images/facebook.png'%}" id="facebook" />
        <ul class="footer-items">
            <li id="phone-number">555-5555</li>
            <li id="email"><a href="mailto:pizzalair@hotstuff.com" target="_blank">pizzalair@hotstuff.com</a></li>
            <li id="opening-hours">Opnunartímar</li>
            <li id="location">Staðir</li>
        </ul>
        </div>
</body>
</html>