{% extends 'base_other.html' %}
{% block content %}
    <div class="payment-container">
        <h2 class="payment-header">Payment</h2><br>
    <form class="form form-horizantal" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Staðfesta korta upplýsingar" onclick="location.href='{% url 'confirm-paid-order' %}'; return false;"/><br>
        <a href="{% url 'confirm-unpaid-order' %}" class="pay-on-site">Borga á staðnum</a>

    </form>
    </div>
  
{% endblock %}