{% extends 'base_other.html' %}
{% block content %}
    <div class="step-banner">
        <div class="step-profile"><a href="{% url 'checkout' %}">PRÓFÍLL</a></div>
        <div class="step-place"><a href="{% url 'place' %}">(STAÐIR)</a></div>
        <div class="step-payment">GREIÐSLA</div>
        <div class="step-summary">YFIRLIT PÖNTUN</div>
        <div class="step-confirm">STAÐFESTING</div>
    </div>
    <div class="place-container">
        <h2 class="place-header">Veldu staðsetningu</h2><br>
        <form class="form form-horizantal" method="post">
            {% csrf_token %}
            {{ form }}
        <a href="{% url 'payment' %}" class="continue">Halda áfram í greiðsluferlið</a><br>
            <a href="{% url 'checkout' %}" class="go-back">Til baka</a>
        </form>
    </div>
  
{% endblock %}

