{% extends 'base_other.html' %}

{% block content %}
    <div class="step-banner">
        <div class="step-profile">PRÓFÍLL</div>
        <div class="step-place">STAÐIR</div>
        <div class="step-payment">GREIÐSLA</div>
        <div class="step-summary">YFIRLIT PÖNTUN</div>
        <div class="step-confirm">(STAÐFESTING)</div>
    </div>
    <div class="confirmed-order">
      <h1>Order Confirmation</h1>
        <p>Thank you for your order! Your order has been received and is being processed.</p>
    </div>


{% endblock %}