{% extends 'base_other.html' %}

{% block content %}
    <div class="order-summary-container">
      <h1>Order Summary</h1>

  <form method="post" action="{% url 'confirm-order' %}">
    {% csrf_token %}

    {% if profile %}
      <h2>Profile Information</h2>
      <ul>
        <p>Name: {{ profile.name }}</p>
        <p>Address: {{ profile.address }}</p>
        <p>City: {{ profile.city }}</p>
        <p>Country: {{ profile.country }}</p>
        <p>Zip: {{ profile.zip }}</p>
      </ul>
    {% endif %}

    <h2>Order Items</h2>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Total Price: {{ total_price }}</h3>
    <button type="submit">Staðfesta pöntun</button>
  </form>
    </div>

{% endblock %}

