{% extends 'base_other.html' %}

{% block content %}
  <div class="order-summary-container">
    <h1>Yfirlit á pöntun:</h1>

    <form method="post" action="{% url 'confirm-order' %}">
      {% csrf_token %}

      {% if profile %}
        <h2>Profile Information</h2>
        <ul>
          <li>Nafn: {{ profile.name }}</li>
          <li>Heimilisfang: {{ profile.address }}</li>
          <li>Borg/bær: {{ profile.city }}</li>
          <li>Land: {{ profile.country }}</li>
          <li>Póstnúmer: {{ profile.zip }}</li>
        </ul>
      {% endif %}

      <h2>Pöntunin þín:</h2>
      <table>
        <thead>
          <tr>
            <th>Vara</th>
            <th>Magn</th>
            <th>Verð</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.product.name }} </td>
              <td>{{ item.quantity }} </td>
              <td>{{ item.price }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <br>
      <h3>Samtals: {{ total_price }}</h3>
    <br>
      <input type="submit" class="btn btn-primary" value="Staðfesta pöntun" onclick="location.href='{% url 'confirm-order' %}'; return false;"/><br>
    </form>
  </div>
{% endblock %}
